<%- include('head') %>
    <%- include('header') %>
        <style>
            .status-fin {
                background: #6CD396;
                border-radius: 30px;
                color: white;
                text-align: center;

            }

            .status-inpro {
                background: #84DCE1;
                border-radius: 30px;
                color: white;
                text-align: center;

            }

            .status-notsta {
                background: #FF8383;
                border-radius: 30px;
                color: white;
                text-align: center;
            }
        </style>

        <body>
            <div id="app">
                <main>
                    <div class="container-fluid" style="min-height: 80vh; background-color : #E7E7E7;">
                        <div class="row">
                            <div class="col text-center my-2" style="color:rgb(96, 150, 180); font-size: 1.6rem;">
                                Manage Requirement
                            </div>
                        </div>
                            <div class="container-fluid" style="width: 75vw; background-color : #E7E7E7;">
                                <div class="row">
                                    <div class="col col-2 my-2 d-flex flex-column" style="font-size: 1.2rem;">
                                        <div>รหัส Requirement</div>
                                        <div class="bg-light text-center" style="border-radius: 10px;">
                                            {{Zerofill(requirement.requirement_id, 6)}}</div>
                                    </div>
                                    <div class="col col-8 my-2 d-flex flex-column" style="font-size: 1.2rem;">
                                        <div>ชื่อ Project</div>
                                        <div class="bg-light text-center" style="border-radius: 10px;">
                                            {{requirement.projectname}}</div>
                                    </div>
                                    <div class="col col-2 my-2 d-flex flex-column" style="font-size: 1.2rem;">
                                        <div>ชื่อ ผู้เสนอ</div>
                                        <div class="bg-light text-center" style="border-radius: 10px;">
                                            {{requirement.username}}</div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col col-2 my-3" style="font-size: 1.2rem;">
                                        <div class="row" style="height: 10vh;">
                                            <div class="col align-self-start">
                                                <div>เสนอราคา</div>
                                                <div class="bg-light text-center" style="border-radius: 10px;">
                                                    {{requirement.budget}}</div>
                                            </div>
                                        </div>
                                        <div class="row" style="height: 10vh;">
                                            <div class="col align-self-center">
                                                <div>กำหนดการ</div>
                                                <div class="bg-light text-center" style="border-radius: 10px;">{{formatTime(project.deadline)}}</div>
                                            </div>
                                        </div>
                                        <div class="row" style="height: 10vh;">
                                            <div class="col align-self-end">
                                                <div>ทีมที่รับผิดชอบ</div>
                                                <div class="bg-light text-center" style="border-radius: 10px;">{{project.team_name}}</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col col-8 my-2 d-flex flex-column" style="font-size: 1.2rem;"
                                        style="height: 30vh;">
                                        <div>รายละเอียด Project</div>
                                        <div class="bg-light h-100 px-4 py-1" style="border-radius: 10px;">
                                            {{requirement.detail}}
                                        </div>
                                    </div>
                                    <div class="col col-2 my-2 d-flex flex-column align-self-start"
                                        style="font-size: 1.2rem;" style="height: 30vh;">
                                        <div>สถานะ</div>
                                        <div class="text-center" style="border-radius: 10px;" :class="{
                                        'status-notsta': requirement.requirement_status === 'Not started',
                                        'status-inpro': requirement.requirement_status === 'In progress',
                                        'status-fin': requirement.requirement_status === 'Finish'}">
                                            {{requirement.requirement_status}}
                                        </div>
                                    </div>
                                </div>
                                <template v-if="permission == 'admin' && requirement.requirement_status == 'Not started'">
                                    <div class="row add">
                                        <div class="col text-center my-2"
                                            style="color:rgb(96, 150, 180); font-size: 1.6rem;">
                                            <a class="btn" :href="'/project/'+requirement.requirement_id+'/addteam'" style="background-color:rgb(255, 107, 0); color:rgb(255, 255, 255)">เพิ่ม Project</a>
                                        </div>
                                    </div>
                                </template>
                                <!-- project status -->
                                <template v-if="requirement.requirement_status != 'Not started'">
                                    <div class="container-fluid mt-4" style="width: 75vw; background-color : #E7E7E7;">
                                        <div class="row">
                                            <div class="col text-center my-2" style="font-size: 1.6rem;">
                                            Project Status
                                            </div>
                                        </div>
                                            <div class="row d-flex justify-content-end">
                                                <div class="col col-8 my-2 d-flex justify-content-center" style="font-size: 1.2rem;">
                                                    <div>รายละเอียดงาน</div>
                                                </div>
                                                <div class="col col-2 my-2 d-flex justify-content-center" style="font-size: 1.2rem;">
                                                    <div>เวลา</div>
                                                </div>
                                            </div>
                                            
                                            <div class="row Status d-flex justify-content-end">
                                                <div class="col col-8 my-2 d-flex flex-column" style="font-size: 1.2rem;">
                                                    <div class="bg-light" style="border-radius: 10px;">Lorem ipsum dolor sit amet
                                                        consectetur adipisicing elit. Repellat soluta eos, dolor minus quaerat minima
                                                        possimus tempore omnis similique quibusdam quo laboriosam dolorum atque aspernatur
                                                        cumque ipsam consectetur voluptas impedit.</div>
                                                </div>
                                                <div class="col col-2 my-2 d-flex flex-column" style="font-size: 1.2rem;">
                                                    <div class="bg-light text-center" style="border-radius: 10px;">00:00</div>
                                                </div>
                                            </div>
                                            <div class="row Status d-flex justify-content-end">
                                                <div class="col col-8 my-2 d-flex flex-column" style="font-size: 1.2rem;">
                                                    <div class="bg-light" style="border-radius: 10px;">Lorem ipsum dolor sit amet
                                                        consectetur adipisicing elit. Repellat soluta eos, dolor minus quaerat minima
                                                        possimus tempore omnis similique quibusdam quo laboriosam dolorum atque aspernatur
                                                        cumque ipsam consectetur voluptas impedit.</div>
                                                </div>
                                                <div class="col col-2 my-2 d-flex flex-column" style="font-size: 1.2rem;">
                                                    <div class="bg-light text-center" style="border-radius: 10px;">00:00</div>
                                                </div>
                                            </div>
                                            <div class="row Status d-flex justify-content-end">
                                                <div class="col col-8 my-2 d-flex flex-column" style="font-size: 1.2rem;">
                                                    <div class="bg-light" style="border-radius: 10px;">Lorem ipsum dolor sit amet
                                                        consectetur adipisicing elit. Repellat soluta eos, dolor minus quaerat minima
                                                        possimus tempore omnis similique quibusdam quo laboriosam dolorum atque aspernatur
                                                        cumque ipsam consectetur voluptas impedit.</div>
                                                </div>
                                                <div class="col col-2 my-2 d-flex flex-column" style="font-size: 1.2rem;">
                                                    <div class="bg-light text-center" style="border-radius: 10px;">00:00</div>
                                                </div>
                                            </div>
                                        <div style="height: 1.2rem;"></div>
                                    </div>
                                </template>

                                <!-- Comment -->
                                <div class="container-fluid mt-4" style="width: 75vw; background-color : #E7E7E7;">
                                    <div class="row">
                                        <div class="col col-2 my-2 d-flex flex-column" style="font-size: 1.2rem;">
                                            <div>Comments</div>
                                        </div>
                                    </div>

                                    <div class="row Comments" v-for="comment in comments">
                                        <div class="col col-2 my-2 d-flex flex-column text-right" style="font-size: 1.2rem;">
                                            <div>{{ comment.username}} :</div>
                                        </div>
                                        <div class="col col-8 my-2 d-flex flex-column" style="font-size: 1.2rem;">
                                            <div class="bg-light p-1" style="border-radius: 10px;">{{ comment.message }}</div>
                                        </div>
                                        <div class="col col-2 my-2 d-flex flex-column" style="font-size: 1.2rem;">
                                            <div class="bg-light text-center p-1" style="border-radius: 10px;">{{ formatTime(comment.comment_timestamp) }}</div>
                                        </div>
                                    </div>

                                    <div style="height: 15px;"></div>

                                    <div class="row Comments">
                                        <div class="col col-2 my-2 d-flex flex-column text-right" style="font-size: 1.2rem;">
                                            <div>เพิ่มความคิดเห็น</div>
                                        </div>
                                        <div class="col col-10 my-2 d-flex flex-column" style="font-size: 1.2rem;">
                                            <form :action="'/project/'+requirement.requirement_id+'/comment'" method="POST">
                                                <div class="form-row">
                                                    <div class="col-10">
                                                        <textarea style="resize: none;" class="form-control" id="commentTextarea" name="message" rows="3"></textarea>
                                                    </div>
                                                    <div class="col-2">
                                                        <button type="submit" class="btn btn-primary btn-block mb-2">Comment</button>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                    
            
                                    <div style="height: 1.2rem;"></div>
                                </div>


                        
                    </div>
                    
            </div>
            </main>
            <%- include('footer') %>
                </div>
                <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
                <script src="https://cdn.jsdelivr.net/npm/moment@2.29.4/moment.min.js"></script>
                <script>
                    var app = new Vue({
                        el: '#app',
                        data: {
                            center: {
                                'd-flex': true,
                                'justify-content-center': true,
                                'align-items-center': true
                            },
                            permission: `<%- permission %>`,
                            requirement: JSON.parse(`<%- requirement %>`),
                            comments: JSON.parse(`<%- comments %>`),
                            project: JSON.parse(`<%- project %>`),
                        },
                        methods: {
                            Zerofill(number, length) {
                                const strNum = '' + number;
                                const pad = '0'.repeat(length);
                                return pad.substring(0, pad.length - strNum.length) + strNum;
                            },
                            formAction(id) {
                                return `http://localhost:3000/project/${id}/comment`
                            },
                            formatTime(str) {
                                return moment(str).format('lll')
                            }
                        },
                        computed: {

                        },
                        watch: {

                        },
                    })
                </script>
        </body>

        </html>