<%- include('head') %>
<%- include('header') %>
<body>
    <div id="app">
        <main>
            <div class="container-fluid justify-content-center" style="min-height: 80vh; background-color:#f5f5f5;">
                <div class="row p-5"></div>
                <div class="container-fluid pt-2 pl-5 pr-5 pb-5 mt-5" style="width: 75vw; border-radius: 25px; background-color: #e7e7e7;">
                    <div class="col text-center my-2" style="color:rgb(96, 150, 180); font-size: 1.6rem;">
                        แก้ไขทีม
                    </div>
                    <!-- <form action="" method="POST"> -->
                    <form>
                        <div class="row mx-auto">
                            <div class="col-5 h4">
                                <label for="teamName">Team Name</label>
                                <div class="h5"><%= teamName %></div>
                            </div>
                            
                        </div>
                        <div class="row mx-auto h3">
                            <div class="col-5 h4">
                                สมาชิก <%=memberCount%>
                            </div>
                        </div>
                        <div class="row mx-auto">
                            <div class="col-1 h5">
                                Delete
                            </div>
                            <div class="col-5 h5">
                                Name
                            </div>
                            <div class="col-2 h5">
                                Role
                            </div>
                        </div>
                        <template v-for="employee in employees">
                            <div class="row mx-auto py-2">
                                <form :action="'/team/delMember/<%= teamName %>/'+employee.employee_id" class="col col-1 my-1" style="font-size: 1.2rem;" method="post">
                                    <input type="submit" class="btn btn-danger text-white" value="ลบ">
                                </form>
                                <div class="col col-5 my-1 " style="font-size: 1.2rem;">
                                    {{Zerofill(employee.employee_id, 3)+" "+ employee.first_name +" "+ employee.last_name}}
                                </div>
                                <div class="col col-2 my-1" style="font-size: 1.2rem;">
                                    {{employee.role}}
                                </div>
                            </div>
                        </template>
                        <div class="mt-4 text-center">
                            <a href="/team/addMember/<%= teamName %>" class="btn btn-info">เพิ่มสมาชิก</a>
                            <a href="/team" class="btn btn-light">ยกเลิก</a>
                        </div>
                        
                    </form>
                </div>
                
            </div>
            <div class="container-fluid" style="min-height: 2rem; background-color: #f5f5f5;"></div>
        </main>
        <%- include('footer') %>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script>
    var app = new Vue({
    el: '#app',
    data: {
        center:{
            'd-flex': true,
            'justify-content-center':true,
            'align-items-center':true
        },
        employees: JSON.parse(`<%-employees%>`),
    },
    methods: {
        Zerofill(number, length) {
            const strNum = '' + number;
            const pad = '0'.repeat(length);
            return pad.substring(0, pad.length - strNum.length) + strNum;
        },
    },
    computed:{
        
    },
    watch:{
        
    },
})
    </script>
</body>
</html>