<%- include('head') %>
    <%- include('header') %>
        <style>
            .status-fin {
                background: #28a745;
                border-radius: 30px;
                color: white;
                text-align: center;

            }

            .status-inpro {
                background: #ffc107;
                border-radius: 30px;
                color: black;
                text-align: center;

            }

            .status-notsta {
                background: #dc3545;
                border-radius: 30px;
                color: white;
                text-align: center;
            }
        </style>

        <body>
            <div id="app">
                <main>
                    <div class="container-fluid" style="min-height: 80vh; background-color : #E7E7E7;">
                        <div class="row">
                            <div class="col text-center my-2" style="color:rgb(96, 150, 180); font-size: 1.6rem;">
                                Manage Requirement
                            </div>
                        </div>
                            <div class="container-fluid" style="width: 75vw; background-color : #E7E7E7;">
                                <div class="row">
                                    <div class="col col-2 my-2 d-flex flex-column" style="font-size: 1.2rem;">
                                        <div>รหัส Requirement</div>
                                        <div class="bg-light text-center" style="border-radius: 10px;">
                                            {{Zerofill(requirement.requirement_id, 6)}}</div>
                                    </div>
                                    <div class="col col-8 my-2 d-flex flex-column" style="font-size: 1.2rem;">
                                        <div>ชื่อ Project</div>
                                        <div class="bg-light text-center" style="border-radius: 10px;">
                                            {{requirement.projectname}}</div>
                                    </div>
                                    <div class="col col-2 my-2 d-flex flex-column" style="font-size: 1.2rem;">
                                        <div>ชื่อ ผู้เสนอ</div>
                                        <div class="bg-light text-center" style="border-radius: 10px;">
                                            {{requirement.username}}</div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col col-2 my-3" style="font-size: 1.2rem;">
                                        <div class="row" style="height: 10vh;">
                                            <div class="col align-self-start">
                                                <div>เสนอราคา</div>
                                                <div class="bg-light text-center" style="border-radius: 10px;">
                                                    {{requirement.budget}}</div>
                                            </div>
                                        </div>
                                        <div class="row" style="height: 10vh;">
                                            <div class="col align-self-center" style="font-size: 1rem;">
                                                <div>กำหนดการ</div>
                                                <template v-if="project.deadline == '-'">
                                                    <div class="bg-light text-center p-1" style="border-radius: 10px;">-</div>
                                                </template>
                                                <template v-else>
                                                    <div class="bg-light text-center" style="border-radius: 10px;">{{formatTime(project.deadline)}}</div>
                                                </template>
    
                                            </div>
                                        </div>
                                        <div class="row" style="height: 10vh;">
                                            <div class="col align-self-end">
                                                <div>ทีมที่รับผิดชอบ</div>
                                                <div class="bg-light text-center" style="border-radius: 10px;">{{project.team_name}}</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col col-8 my-2 d-flex flex-column" style="font-size: 1.2rem;"
                                        style="height: 30vh;">
                                        <div>รายละเอียด Project</div>
                                        <div class="bg-light h-100 px-4 py-1" style="border-radius: 10px; overflow-wrap: break-word;" v-html="requirement.detail">
                                            <!-- {{requirement.detail}} -->
                                        </div>
                                    </div>
                                    <div class="col col-2 my-2 d-flex flex-column align-self-start" style="font-size: 1.2rem;" style="height: 30vh;">
                                        <div class="row" style="height: 20vh;">
                                            <div class="col align-self-start">
                                                <div>สถานะ</div>
                                                <div class="text-center" style="border-radius: 10px;" :class="{
                                                'status-notsta': requirement.requirement_status === 'Not started',
                                                'status-inpro': requirement.requirement_status === 'In progress',
                                                'status-fin': requirement.requirement_status === 'Finish'}">
                                                    {{requirement.requirement_status}}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row" style="height: 10vh;">
                                            <div class="col align-self-end">
                                                <template v-if="permission == 'admin' && requirement.requirement_status == 'In progress'">
                                                    <form :action="'/project/'+requirement.requirement_id+'/Finish'" method="POST">
                                                        <button type="submit" class="btn btn-danger btn-block mb-2">เสร็จสิ้น</button>
                                                    </form>
                                                </template>
                                                <template v-else-if="permission == 'admin' && requirement.requirement_status == 'Finish'">
                                                    <form :action="'/project/'+requirement.requirement_id+'/Improvement'" method="POST">
                                                        <button type="submit" class="btn btn-primary btn-block mb-2">ปรับปรุง</button>
                                                    </form>
                                                </template>
                                            </div>
                                        </div>
                                    </div>
                                        
                                </div>
                                <template v-if="permission == 'admin' && requirement.requirement_status == 'Not started'">
                                    <div class="row add">
                                        <div class="col text-center my-2"
                                            style="color:rgb(96, 150, 180); font-size: 1.6rem;">
                                            <a class="btn" :href="'/project/'+requirement.requirement_id+'/addteam'" style="background-color:rgb(255, 107, 0); color:rgb(255, 255, 255)">เพิ่ม Project</a>
                                        </div>
                                    </div>
                                </template>

                                <!-- project status -->
                                <template v-if="requirement.requirement_status != 'Not started'">
                                    <div class="container-fluid mt-4 bg-light" style="width: 75vw; border-style: solid; border-width: 1px;">
                                        <div class="row">
                                            <div class="col text-center my-2" style="font-size: 1.6rem;">
                                            Project Status
                                            </div>
                                        </div>
                                        <div class="row d-flex justify-content-end">
                                            <div class="col col-8 my-2 d-flex justify-content-center" style="font-size: 1.2rem;">
                                                <div>รายละเอียดงาน</div>
                                            </div>
                                            <div class="col col-2 my-2 d-flex justify-content-center" style="font-size: 1.2rem;">
                                                <div>เวลา</div>
                                            </div>
                                        </div>
                                        <div class="row Status d-flex " v-for="status in allStatus">
                                            <div class="col col-2 my-2 d-flex justify-content-end" style="font-size: 1rem;">
                                               <div>●</div>
                                            </div>
                                            <div class="col col-8 my-2 d-flex flex-column" style="font-size: 1.2rem;">
                                                <div class="px-4" style="border-radius: 10px; overflow-wrap: break-word; background-color : #E7E7E7;" v-html="status.status_message">
                                                    <!-- {{ status.status_message}} -->
                                                </div>
                                            </div>
                                            <div class="col col-2 my-2 d-flex flex-column" style="font-size: 1rem;">
                                                <div class="text-center" style="border-radius: 10px; background-color : #E7E7E7;">{{ formatTime(status.status_timestamp)}}</div>
                                            </div>
                                        </div>

                                        <template v-if="permission == 'admin' && requirement.requirement_status == 'In progress'">
                                            <form :action="'/project/'+requirement.requirement_id+'/status'" method="POST">
                                                <div class="row">
                                                    <div class="col text-center my-2" style="font-size: 1.2rem;">
                                                        อัพเดทสถานะ
                                                    </div>
                                                </div>
                                            <div class="row Update">
                                                <div class="col col-2 my-2 d-flex flex-column text-right" style="font-size: 1.2rem;">
                                                </div>
                                                <div class="col col-10 my-2 d-flex flex-column" style="font-size: 1.2rem;">
                                                    <div class="form-row">
                                                        <div class="col-10">
                                                            <textarea style="resize: none;" class="form-control" id="commentTextarea" name="message" rows="3"></textarea>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col text-center my-2" style="font-size: 1.2rem;">
                                                    <button type="submit" class="btn btn-success  mb-2">Update</button>
                                                </div>
                                            </div>
                                            </form>
                                        </template>


                                        <div style="height: 1.2rem;"></div>
                                    </div>
                                </template>
                                
                                <template v-if="permission != 'admin' && requirement.requirement_status == 'Finish'">
                                    <form :action="'/project/'+requirement.requirement_id+'/Improvement'" method="POST">
                                        <div :class="center" class="my-4">
                                            <button type="submit" class="btn btn-danger mb-2">ร้องขอการแก้ไข</button>
                                        </div>
                                    </form>
                                </template>

                                <!-- Comment -->
                                <div class="container-fluid mt-4" style="width: 75vw; background-color : #E7E7E7;">
                                    <div class="row">
                                        <div class="col col-2 my-2 d-flex flex-column" style="font-size: 1.2rem;">
                                            <div>Comments</div>
                                        </div>
                                    </div>

                                    <div class="row Comments" v-for="comment in comments">
                                        <div class="col col-2 my-2 d-flex flex-column text-right" style="font-size: 1.2rem;">
                                            <div>{{ comment.username}} :</div>
                                        </div>
                                        <div class="col col-8 my-2 d-flex flex-column" style="font-size: 1.2rem;">
                                            <div class="bg-light px-4" style="border-radius: 10px; overflow-wrap: break-word;" v-html="comment.message">
                                                <!-- {{ comment.message }} -->
                                            </div>
                                        </div>
                                        <div class="col col-2 my-2 d-flex flex-column" style="font-size: 1rem;">
                                            <div class="bg-light text-center" style="border-radius: 10px;">{{ formatTime(comment.comment_timestamp) }}</div>
                                        </div>
                                    </div>

                                    <div style="height: 15px;"></div>

                                    <div class="row Comments">
                                        <div class="col col-2 my-2 d-flex flex-column text-right" style="font-size: 1.2rem;">
                                            <div>เพิ่มความคิดเห็น</div>
                                        </div>
                                        <div class="col col-10 my-2 d-flex flex-column" style="font-size: 1.2rem;">
                                            <form :action="'/project/'+requirement.requirement_id+'/comment'" method="POST">
                                                <div class="form-row">
                                                    <div class="col-10">
                                                        <textarea style="resize: none;" class="form-control" id="commentTextarea" name="message" rows="3"></textarea>
                                                    </div>
                                                    <div class="col-2">
                                                        <button type="submit" class="btn btn-primary btn-block mb-2">Comment</button>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                    
            
                                    <div style="height: 1.2rem;"></div>
                                </div>


                        
                    </div>
                    
            </div>
            </main>
            <%- include('footer') %>
                </div>
                <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
                <script src="https://cdn.jsdelivr.net/npm/moment@2.29.4/moment.min.js"></script>
                <script>
                    var app = new Vue({
                        el: '#app',
                        data: {
                            center: {
                                'd-flex': true,
                                'justify-content-center': true,
                                'align-items-center': true
                            },
                            permission: `<%- permission %>`,
                            requirement: JSON.parse(`<%- requirement %>`),
                            comments: JSON.parse(`<%- comments %>`),
                            project: JSON.parse(`<%- project %>`),
                            allStatus: JSON.parse(`<%- status %>`),
                        },
                        methods: {
                            Zerofill(number, length) {
                                const strNum = '' + number;
                                const pad = '0'.repeat(length);
                                return pad.substring(0, pad.length - strNum.length) + strNum;
                            },
                            formatTime(str) {
                                return moment(str).format('lll')
                            }
                        },
                        computed: {

                        },
                        watch: {

                        },
                    })
                </script>
        </body>

        </html>